# Python / Django
__pycache__/
*.py[cod]
*.egg-info/
*.sqlite3
db.sqlite3
venv/
.env
.env.*
media/
staticfiles/
coverage/

# IDE
.vscode/
.idea/
.DS_Store

# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
android/.gradle/
ios/Pods/
